table#instalment_rates input,
#instalment_class_priorities table input,
table#instalment_rates select,
#instalment_class_priorities table select {
    width: 100%;
}
table#instalment_rates input[type=checkbox],
#instalment_class_priorities table input[type=checkbox] {
    width: auto;
}
table#instalment_rates td,
#instalment_class_priorities table td {
    cursor: move;
}
table#instalment_rates a.remove,
#instalment_class_priorities table a.remove,
table#instalment_rates a.dupe,
#instalment_class_priorities table a.dupe {
    float: right;
    margin-left: 4px;
}
table#instalment_rates td,
#instalment_class_priorities table td,
table#instalment_rates th,
#instalment_class_priorities table th {
    padding: 15px 10px;
    vertical-align: middle;
}
table#instalment_rates tr:nth-child(even) td,
#instalment_class_priorities table tr:nth-child(even) td,
table#instalment_rates tr:nth-child(even) th,
#instalment_class_priorities table tr:nth-child(even) th {
    background: #fafafa;
}
table#instalment_rates td.minmax input,
#instalment_class_priorities table td.minmax input {
    width: 50%;
    margin: 0;
}
table#instalment_rates td.minmax input:first-child,
#instalment_class_priorities table td.minmax input:first-child {
    border-right: 0;
}
table#instalment_rates th.checkbox,
#instalment_class_priorities table th.checkbox,
table#instalment_rates td.checkbox,
#instalment_class_priorities table td.checkbox {
    text-align: center;
}
table#instalment_rates td .disabled,
#instalment_class_priorities table td .disabled {
    opacity: .5;
}
table#instalment_rates .check-column,
#instalment_class_priorities table .check-column {
    width: 24px;
    min-width: 24px !important;
    text-align: center;
    padding: 15px 10px;
}
table#instalment_rates .check-column input,
#instalment_class_priorities table .check-column input {
    width: auto;
    vertical-align: middle;
    margin: 0 0 0 8px;
}